.page {
  --background: #000;
  --foreground: #222;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 0 60px 20px;
}
.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.header img {
  display: block;
  max-height:175px;
} 
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  font-size: 12px;
  color: var(--text-secondary);
  border: blueviolet 1px solid;
}
.footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 8px;
}


.link a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}
.activeLink {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.contentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contentList h2 {
  display: none;
}
.catsList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  order: 4;
  position: relative;
  width: 25%;
  flex-grow: 1;
  max-height: 25vw;
}


.catCard.first {
  border: 1px solid blue;
  width: 40%;
  align-self: flex-end;
  order: 2;
} 
.catCard.second {
  border: 1px solid red;
  width: 30%;
  align-self: flex-end;
  order: 1;
} 
.catCard.third {
  border: 1px solid red;
  width: 30%;
  align-self: flex-end;
  order: 3;
} 
.catCard figure {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.catCard img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.catCard .position{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: var(--text-primary);
  color: var(--background);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.catCard.first .position{
  font-size: 75px;
  color: gold;
  width: 100px;
  height: 100px;
}
.catCard.second .position{
  font-size: 50px;
  color: silver;
  width: 75px;
  height: 75px;
}
.catCard.third .position{
    width: 50px;
  height: 50px;
  font-size: 25px;
  color: #cd7f32;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}