.page {
  --background: #000;
  --foreground: #222;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 0 60px 20px;
}
.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.header img {
  display: block;
  max-height:175px;
} 
.footer {
  display: flex;
  width: 100%;
  max-width: 50vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  font-size: 12px;
  color: var(--text-secondary);
  border: blueviolet 1px solid;
  position: fixed;
  bottom: 0;
  left: calc(50% - 25vw);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 16px;
  border-radius:10px;
  border:2px solid darkgray;
}
.footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 8px;
}


.link a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}
.activeLink {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.contentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contentList h2 {
  display: none;
}
.catsList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  order: 4;
  position: relative;
  width: 25%;
  flex-grow: 1;
  max-height: 15vw;
  height: 15vw;
  padding: 10px;
}
.catCard.first {
  width: 40%;
  align-self: flex-end;
  order: 2;
  height: 25vw;
  max-height: 25vw;
} 
.catCard.second {
  width: 30%;
  align-self: flex-end;
  order: 1;
  height: 25vw;
  max-height: 20vw;
} 
.catCard.third {
  width: 30%;
  align-self: flex-end;
  order: 3;
  height: 25vw;
  max-height: 15vw;
}
.catCard .cardWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%; 
  max-width: 100%;
  max-height: 100%;
  border: 2px solid darkgray;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
} 
.catCard figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.catCard figure img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}
.cardWrapper .position{
  position: absolute;
  top: 20px;
  left: calc(50% - 24px);
  background: var(--text-primary);
  color: var(--background);
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
}
.catCard.first .position{
  font-size: 75px;
  color: gold;
  width: 100px;
  height: 100px;
  border-color: gold
}
.catCard.second .position{
  font-size: 50px;
  color: silver;
  width: 75px;
  height: 75px;
  left:calc(50% - 37.5px);
  border-color: silver;
}
.catCard.third .position{
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #cd7f32;
  border-color: #cd7f32;
  left:calc(50% - 25px);
}
.cardWrapper .cardContents{
  display: flex;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: flex-end;
}
.cardWrapper .cardContents .captionWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 8px;
  border:1px solid black;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}
.cardWrapper .name{
  color: white
}

.votingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  padding: 0 0 75px;
  max-height: calc(100% - 400px);
  height: calc(100% - 400px);
} 
.votingWrapper .catCard {
  max-height: 100%;
  height: calc(100vh - 300px) ;
}

.likeButton{
  display: flex;
  padding: 3px 8px;
  background-color:green;
  border-radius: 5px;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .likeButton:hover{
    background: var(--button-primary-hover);
    border-color: transparent;
    cursor: pointer;
  }
}
